<mat-card>
    <mat-form-field appearance="outline">
        <span matPrefix class="greyday">AQW# &nbsp;</span>
        <input #codeInput="ngModel" matInput [ngModel]="code | codePrettyfier" (ngModelChange)="code = 'AQW#'+$event+'#';generatePathFromCode()">
        <span matSuffix class="greyday">&nbsp; #</span>
        
        <mat-hint align="end">Longitude: <b>{{accumulatedLongitude}}</b></mat-hint>
        <mat-hint>
            <p *ngFor="let error of validationErrors" class="mat-error">
                ❌&nbsp;&nbsp;{{error}}
            </p>
        </mat-hint>
    </mat-form-field>
    <app-viewer [path]="path"></app-viewer>
    <!-- <button mat-mini-fab color="primary">#2</button> -->
</mat-card>