
<mat-toolbar color="primary" class="mat-elevation-z1 fixed-on-top">
    <mat-toolbar-row>
        <img class="aquiles-logo" src="./assets/logo_aquiles_solutions_250.png">
        <span class="example-spacer"></span>
        <button mat-icon-button (click)="add()">
            <img src="./assets/add.png">
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<div class="encapsulation" *ngFor="let figure of figuresCatalogue; index as i">
    <app-editor [code]="figure"></app-editor>
    <button mat-mini-fab color="">
        #{{i+1}}
    </button>
</div>