.fixed-on-top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%  !important;
}

mat-toolbar-row {
    /* padding: 0vw 20vw; */
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

button.mat-mini-fab {
    margin-top: -60px;
    margin-left: 20px;
    position: absolute;
    z-index: 2;
    background-color: #003B61;
    color: white;
    font-weight: bold;
}

.aquiles-logo {
    height: 55%;
    padding-right: 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.active-button {
    opacity: 0.5;
}

.mat-toolbar {
    background: #FFF;
}

.encapsulation {
    padding-top: 94px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}