@import "~@angular/material/prebuilt-themes/indigo-pink.css";

::-webkit-scrollbar { 
    display: none; 
}
body {
    -ms-overflow-style: none;
    background-color: #EFEFEF;
    font-family: "Open Sans";
    letter-spacing: -0.5px;
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
}